<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>用户登陆</title>
		<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/axios.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/echarts.js" type="text/javascript" charset="utf-8"></script>
		<!-- bootstrap -->
		<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"></script>
		<style>
			#app {
				width: 100vw;
				height: 100vh;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
			}

			#loginform {
				width: 60%;
				height: 50%;
			}
		</style>
	</head>
	<body>
		<div id="app">
			<h1>用户登录</h1>
			<br />
			<form id="loginform" @submit.prevent="login">
				<div class="form-group">
					<label for="exampleInputUsername1">用户名或邮箱</label>
					<input type="text" class="form-control" id="exampleInputUsername1" v-model="username" aria-describedby="usernameHelp">
				</div>
				<div class="form-group">
					<label for="exampleInputPassword1">密码</label>
					<input type="password" class="form-control" id="exampleInputPassword1" v-model="password">
				</div>
				<button type="submit" class="btn btn-primary">登录</button>
			</form>
		</div>

		<script type="text/javascript">
			new Vue({
				el: "#app",
				data: {
					username: '',
					password: ''
				},
				methods: {
					login() {
						if (this.username.trim() === '' || this.password.trim() === '') {
							alert('输入内容不完整');
							return;
						}
						if (this.username.includes(' ') || this.password.includes(' ')) {
							alert('输入内容不能包含空格');
							return;
						}
						let userData = new FormData()
						userData.append("username", this.username)
						userData.append("password", this.password)

						axios.post('http://127.0.0.1:81/login', userData)
							.then(response => {
								console.log(response.data)
								if(response.data == 1){
									alert('登陆成功')
								}
								else if(response.data == 0){
									alert('登陆失败，用户名（或邮箱）或密码错误！')
								}
							})
							.catch(error => {
								console.error('登录请求错误：', error);
								alert('登录请求错误，请稍后重试');
							});
					}
				}
			});
		</script>
	</body>
</html>
