<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>股海指南针</title>
		<script src="./js/vue.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="./js/axios.min.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" href="./css/base.css">
		<link rel="stylesheet" href="./css/index.css">
		<link rel="stylesheet" href="./css/rank.css">

		<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
		<script src="https://unpkg.com/element-ui/lib/index.js"></script>

		<style>
			#navi {
				max-width: 100vw;
				width: 100vw;
				/* height: 100vh; */
				padding: 0px;
				color: #fff;
			}

			#container {
				max-width: 100%;
				width: 100%;
				height: 100%;
			}

			#header {

				max-width: 100%;
				width: 100%;
				height: 100%;
				padding: 0px;
				/* background-color: rgba(255, 255, 255, 0.15); */
				font-size: 18px;
			}

			#headerrow {
				max-width: 100%;
				width: 100%;
				height: 100%;
				padding-left: 30px;
				padding-right: 30px;
			}

			#headerrow .el-col {
				height: 100%;
				display: flex;
				/* 使用 Flexbox */
				align-items: center;
				/* 垂直居中对齐 */
				justify-content: center;
				/* 水平居中对齐 */
			}

			.user-avatar {
				height: 40px;
				width: 40px;
				border-radius: 50%;
				overflow: hidden;
				margin-left: 15px;
			}

			.user-avatar img {
				height: 100%;
				width: auto;
			}

			/* 导航栏样式定义如上 */

			#menu {
				background-color: transparent;
				border: 0px;
			}

			/* Active menu item style */
			.el-menu-demo .el-menu-item.active {
				color: #409EFF;
				/* Change to desired color for active item */
				border-bottom: 2px solid #409EFF;
				/* Optional: add underline */
			}
		</style>
	</head>

	<body>
		<div id="navi">
			<el-header id="header">
				<el-row id="headerrow">
					<el-col :span="3"></el-col>
					<el-col :span="3">
						<a href="index.html" style="height: 100%;">
							<img src="./images/logo.png" alt="网站Logo" style="height: 100%;">
						</a>
					</el-col>
					<el-col :span="12" style="justify-content: left;">
						<el-menu id="menu" class="el-menu-demo" mode="horizontal">
							<el-menu-item index="1" @click="navigateToPage('home')">首页</el-menu-item>
							<el-menu-item index="2" @click="navigateToPage('news')">资讯中心</el-menu-item>
							<el-menu-item index="3" @click="navigateToPage('market')">行情中心</el-menu-item>
							<el-menu-item index="4" class="active" @click="navigateToPage('data')">数据中心</el-menu-item>
						</el-menu>
					</el-col>
					<!-- <el-col :span="5"> -->
					<!-- <el-input placeholder="搜索..." suffix-icon="el-icon-search" style="background-color: #6f6f6f;"></el-input> -->
					<!-- </el-col> -->
					<el-col :span="4">
						<template v-if="!loggedIn">
							<el-button type="text" @click="navigateToLogin">登录</el-button>
							<el-button type="primary" @click="navigateToRegister">注册</el-button>
						</template>
						<template v-else>
							<span style="color: black;">欢迎</span>,, <a href="userinfo.html">{{ username }}</a>
							<el-dropdown @command="handleCommand">
								<span class="el-dropdown-link">
									<div class="user-avatar">
										<img :src="header" alt="用户头像">
									</div>
								</span>
								<el-dropdown-menu slot="dropdown">
									<el-dropdown-item command="user">用户信息</el-dropdown-item>
									<el-dropdown-item command="logout" style="color: red;">退出登录</el-dropdown-item>
								</el-dropdown-menu>
							</el-dropdown>
						</template>
					</el-col>
				</el-row>
			</el-header>
		</div>
		

		<!-- 主要内容 -->

		<div class="wrapped" style="background-color: #f3f5f7;">
			<div id="app">
				<div class="table-container">
					<div class="smalltitle">
						<h2 class="icon-lhb"><a href="http://data.10jqka.com.cn/market/longhu/" target="_blank">龙虎榜</a>
						</h2>
						<a href="https://data.10jqka.com.cn/market/longhu/" target="_blank" class="more">更多>></a>
					</div>
					<table class="leaderboard">
						<thead>
							<tr>
								<th style="padding-right: 80px;"></th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td style="padding: 4px 0px;background:#f1f5f6;">
									<div class="name" style="text-align: center;color:#797c86;font-weight: bold;">一类
									</div>
								</td>
								<td style="padding: 4px 0px;">
									<div id="app1">
										<table class="leaderboard1">
											<thead>
												<tr>
													<th></th>
													<th>股票名称</th>
													<th>价格振幅</th>
													<th>最高价</th>
													<th>最低价</th>
												</tr>
											</thead>
											<tbody>
												<tr v-for="(r, index) in rank" :key="index">
													<td :class="getRankColor(index + 1)">{{ index + 1 }}</td>
													<td class="tabletd">{{ r.gpname }}</td>
													<td class="zhangfu">
														{{(((r.highprice-r.lowprice)/r.lowprice)*100).toFixed(7)}}<a
															class="zhangfu">%</a>
													</td>
													<td>{{r.highprice}}</td>
													<td>{{r.lowprice}}</td>
												</tr>
											</tbody>
										</table>
									</div>
								</td>
							</tr>
							<!-- second -->
							<tr>
								<td style="padding: 4px 0px;background:#f1f5f6;">
									<div class="name" style="text-align: center;color:#797c86;font-weight: bold;">二类
									</div>
								</td>
								<td style="padding: 4px 0px;">
									<div id="app4">
										<table class="leaderboard1">
											<thead>
												<tr>
													<th></th>
													<th>股票名称</th>
													<th>涨幅累计</th>
													<th>最高价</th>
													<th>最低价</th>
												</tr>
											</thead>
											<tbody>
												<tr v-for="(r, index) in rank" :key="index">
													<td :class="getRankColor(index + 1)">{{ index + 1 }}</td>
													<td class="tabletd">{{ r.gpname}}</td>
													<td class="zhangfu">{{(sum[index]).toFixed(7)}}<a
															class="zhangfu">%</a></td>
													<td>{{(r.highprice).toFixed(2)}}</td>
													<td>{{(r.lowprice).toFixed(2)}}</td>
												</tr>
											</tbody>
										</table>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>

				<!-- 个股 -->
				<div class="table-container">
					<div class="smalltitle">
						<h2 class="icon-lhb"><a href="http://data.10jqka.com.cn/market/longhu/" target="_blank">领涨个股</a>
						</h2>
						<a href="https://data.10jqka.com.cn/market/longhu/" target="_blank" class="more">更多>></a>
					</div>
					<div id="app2">
						<table class="leaderboard">
							<thead>
								<tr>
									<th></th>
									<th>股票名称</th>
									<th>涨跌幅</th>
									<th>最高价</th>
									<th>最低价</th>
									<th></th>
								</tr>
							</thead>
							<tbody>

								<tr v-for="(r, index) in rank" :key="index">
									<td>{{ index + 1 }}</td>
									<td class="tabletd">{{ r.gpname }}</td>
									<td class="zhangfu">{{ r.zhangfu }}<a class="zhangfu">%</a></td>
									<!-- 注意这里应该是成交量，而不是涨跌 -->
									<td>{{(r.highprice).toFixed(2)}}</td>
									<td>{{(r.lowprice).toFixed(2)}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>


				<!-- 大宗交易 -->
				<div class="table-container">
					<div class="smalltitle">
						<h2 class="icon-lhb"><a href="https://data.10jqka.com.cn/market/longhu/"
								target="_blank">大宗交易</a></h2>
						<a href="https://data.10jqka.com.cn/market/longhu/" target="_blank" class="more">更多>></a>
					</div>
					<div id="app3">
						<table class="leaderboard">
							<thead>
								<tr>
									<th></th>
									<th>股票名称</th>
									<th>成交量</th>
									<th>开盘价</th>
									<th>收盘价</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr v-for="(r, index) in rank" :key="index">
									<td>{{ index + 1 }}</td>
									<td class="tabletd">{{ r.gpname}}</td>
									<td>{{ r.volume }}</td>
									<td>{{ (r.openprice).toFixed(2) }}</td>
									<td>{{ (r.closeprice).toFixed(2) }}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>


		<!-- 底部 -->
		<div class="bottom">
			<div class="wrapped">
				<div class="left">
					<img src="./images/logo.png" alt="">
					<p>“股海指南针”是一款集资讯、行情、数据于一体的股票投资助手。</p>
					<input type="button" value="下载APP">
				</div>
				<div class="right">
					<dl>
						<dt>关于股海指南针</dt>
						<dd>关于</dd>
						<dd>工作机会</dd>
						<dd>管理团队</dd>
						<dd>客户服务</dd>
						<dd>帮助</dd>
					</dl>
					<dl>
						<dt>关于股海指南针</dt>
						<dd>关于</dd>
						<dd>工作机会</dd>
						<dd>管理团队</dd>
						<dd>客户服务</dd>
						<dd>帮助</dd>
					</dl>
					<dl>
						<dt>关于股和指南针</dt>
						<dd>关于</dd>
						<dd>工作机会</dd>
						<dd>管理团队</dd>
						<dd>客户服务</dd>
						<dd>帮助</dd>
					</dl>
				</div>
			</div>
		</div>


		<!-- method -->
		<script type="text/javascript">
			new Vue({
					el: "#app3",
					data: {
						rank: []
					},
					created() {
						this.output()
					},
					methods: {
						output() {
							axios.get(`http://localhost:81/getleads?date=20230320`)
								.then(response => {
									// console.log('Rank Data:', response.data);
									this.rank = response.data;
								})
								.catch(error => {
									console.error('Error fetching rank1:', error);
								});
						}
					}
				}),
				new Vue({
					el: "#app2",
					data: {
						rank: []
					},
					created() {
						this.output()
					},
					methods: {
						output() {
							axios.get(`http://localhost:81/getrise?date=20190320`)
								.then(response => {
									// console.log('Rank Data:', response.data);
									this.rank = response.data;
								})
								.catch(error => {
									console.error('Error fetching rank1:', error);
								});
						}
					}
				}),
				new Vue({
					el: "#app1",
					data: {
						rank: []
					},
					created() {
						this.output()
					},
					methods: {
						output() {
							axios.get(`http://localhost:81/gethigh?date=20220615`)
								.then(response => {
									// console.log('Rank Data:', response.data);
									this.rank = response.data;
								})
								.catch(error => {
									console.error('Error fetching rank1:', error);
								});
						},
						getRankColor(rank) {
							// 根据排名返回不同的类名
							if (rank === 1) {
								return 'rank1';
							} else if (rank === 2) {
								return 'rank2';
							} else if (rank === 3) {
								return 'rank3';
							} else {
								return 'default-color';
							}
						}
					}
				}),
				new Vue({
					el: "#app4",
					data: {
						rank: [],
						sum: []
					},
					created() {
						this.output()
					},
					methods: {
						output() {
							axios.get(`http://localhost:81/getsum?date=20190320`)
								.then(response => {
									// console.log('Rank Data:', response.data);
									let gp = ""
									let tempname = ""
									let singlesum = 0
									let k = 0
									let jsonarr = response.data
									for (let i = 0; i < jsonarr.length; i++) {
										let json = jsonarr[i]
										if (k == 0) {
											gp = json.gpname
										}
										tempname = json.gpname
										singlesum = singlesum + parseFloat(json.zhangfu)
										if (k < 3 && tempname != gp) {
											k = 0
											singlesum = 0
											continue
										}
										k = k + 1
										if (k == 3) {
											this.rank.push({
												gpname: json.gpname,
												highprice: parseFloat(json.highprice),
												lowprice: parseFloat(json.lowprice)
											})
											this.sum.push(singlesum)
											singlesum = 0
											k = 0
										}
									}
									console.log('Rank Data:', this.rank);
									console.log('Sum Data:', this.sum);
								})
								.catch(error => {
									console.error('Error fetching rank1:', error);
								});
						},
						getRankColor(rank) {
							// 根据排名返回不同的类名
							if (rank === 1) {
								return 'rank1';
							} else if (rank === 2) {
								return 'rank2';
							} else if (rank === 3) {
								return 'rank3';
							} else {
								return 'default-color';
							}
						}
					}
				}),
				new Vue({
					el: "#navi",
					data: {
						username: '',
						header: '',
						loggedIn: false
					},
					methods: {
						navigateToLogin() {
							window.location.href = 'login.html'; // 修改为实际登录页面路径
						},
						navigateToRegister() {
							window.location.href = 'register.html'; // 修改为实际注册页面路径
						},
						navigateToPage(page) {
							if (this.loggedIn) {
								if (page === 'news') {
									window.location.href = 'zixun.html';
								} else if (page === 'market') {
									window.location.href = 'hang.html';
								} else if (page === 'data') {
									window.location.href = 'rank.html';
								} else if (page == 'user') {
									window.location.href = 'userinfo.html';
								} else {
									window.location.href = 'index.html';
								}
							} else {
								if (page === 'home') {
									window.location.href = 'index.html';
								} else {
									window.location.href = 'login.html';
								}
							}
						},
						handleCommand(command) {
							if (command === 'user') {
								window.location.href = 'userinfo.html'; // 修改为实际用户信息页面路径
							} else if (command === 'logout') {
								sessionStorage.removeItem('username');
								sessionStorage.removeItem('email');
								sessionStorage.removeItem('password');
								sessionStorage.removeItem('loggedIn');
								this.username = '';
								this.header = '';
								this.loggedIn = false;
								window.location.href = 'index.html'; // 刷新页面
							}
						}
					},
					created() {
						console.log('进入rank.html')
						this.username = sessionStorage.getItem('username');
						if (sessionStorage.getItem('header') == 'undefined') {
							this.header = './images/default.jpg'
						} else {
							this.header = "http://127.0.0.1:81/" + sessionStorage.getItem('header')
						}
						this.loggedIn = sessionStorage.getItem('loggedIn') === 'true';

						// 处理登录状态
						if (this.loggedIn) {
							console.log('已登陆登录状态')
							console.log(`用户 ${this.username} 已登录`);
							// 在此处添加登录成功后的逻辑
						} else {
							console.log('未登录状态')
						}
					}
				});
		</script>
	</body>

</html>