<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>股海指南针</title>
	<script src="./js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="./js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
	
	<script src="./js/echarts.js" type="text/javascript" charset="utf-8"></script>
	<script src="./js/axios.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="./js/vue.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="./js/zixun.js"></script>
	
    <link rel="stylesheet" href="./css/base.css">
    <link rel="stylesheet" href="./css/zixun.css">
	
	<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
	<script src="https://unpkg.com/element-ui/lib/index.js"></script>
	<style>
		#navi {
			max-width: 100vw;
			width: 100vw;
			/* height: 100vh; */
			padding: 0px;
			color: #fff;
		}
	
		#container {
			max-width: 100%;
			width: 100%;
			height: 100%;
		}
	
		#header {
	
			max-width: 100%;
			width: 100%;
			height: 100%;
			padding: 0px;
			/* background-color: rgba(255, 255, 255, 0.15); */
			font-size: 18px;
		}
	
		#headerrow {
			max-width: 100%;
			width: 100%;
			height: 100%;
			padding-left: 30px;
			padding-right: 30px;
		}
	
		#headerrow .el-col {
			height: 100%;
			display: flex;
			/* 使用 Flexbox */
			align-items: center;
			/* 垂直居中对齐 */
			justify-content: center;
			/* 水平居中对齐 */
		}
	
		.user-avatar {
			height: 40px;
			width: 40px;
			border-radius: 50%;
			overflow: hidden;
			margin-left: 15px;
		}
	
		.user-avatar img {
			height: 100%;
			width: auto;
		}
	
		/* 导航栏样式定义如上 */
	
		#menu {
			background-color: transparent;
			border: 0px;
		}
	
		/* Active menu item style */
		.el-menu-demo .el-menu-item.active {
			color: #409EFF;
			/* Change to desired color for active item */
			border-bottom: 2px solid #409EFF;
			/* Optional: add underline */
		}
	</style>
</head>

<body>
    <div id="navi">
    	<el-header id="header">
    		<el-row id="headerrow">
    			<el-col :span="3"></el-col>
    			<el-col :span="3">
    				<a href="index.html" style="height: 100%;">
    					<img src="./images/logo.png" alt="网站Logo" style="height: 100%;">
    				</a>
    			</el-col>
    			<el-col :span="12" style="justify-content: left;">
    				<el-menu id="menu" class="el-menu-demo" mode="horizontal">
    					<el-menu-item index="1" @click="navigateToPage('home')">首页</el-menu-item>
    					<el-menu-item index="2" class="active" @click="navigateToPage('news')">资讯中心</el-menu-item>
    					<el-menu-item index="3" @click="navigateToPage('market')">行情中心</el-menu-item>
    					<el-menu-item index="4" @click="navigateToPage('data')">数据中心</el-menu-item>
    				</el-menu>
    			</el-col>
    			<!-- <el-col :span="5"> -->
    			<!-- <el-input placeholder="搜索..." suffix-icon="el-icon-search" style="background-color: #6f6f6f;"></el-input> -->
    			<!-- </el-col> -->
    			<el-col :span="4">
    				<template v-if="!loggedIn">
    					<el-button type="text" @click="navigateToLogin">登录</el-button>
    					<el-button type="primary" @click="navigateToRegister">注册</el-button>
    				</template>
    				<template v-else>
    					<span style="color: black;">欢迎</span>,, <a href="userinfo.html">{{ username }}</a>
    					<el-dropdown @command="handleCommand">
    						<span class="el-dropdown-link">
    							<div class="user-avatar">
    								<img :src="header" alt="用户头像">
    							</div>
    						</span>
    						<el-dropdown-menu slot="dropdown">
    							<el-dropdown-item command="user">用户信息</el-dropdown-item>
    							<el-dropdown-item command="logout" style="color: red;">退出登录</el-dropdown-item>
    						</el-dropdown-menu>
    					</el-dropdown>
    				</template>
    			</el-col>
    		</el-row>
    	</el-header>
    </div>


	<div class="wrapped fl">
		 <div class="ff wrapped">
			 
			<div id="max">
				<div class="re">
					<ul>
						<li>
							<img src="./images/zixun/1.png" alt="">
							<a href="http://stock.10jqka.com.cn/20240723/c660046189.shtml"  target="_blank">以旧换新政策发力 上市公司抢抓机遇</a>
						</li>
						<li><img src="./images/zixun/2.png" alt="">
						<a href="http://field.10jqka.com.cn/20240723/c660057948.shtml" target="_blank">国产折叠新机热销，苹果高端市场或再受冲击</a></li>
						<li><img src="./images/zixun/3.png" alt="">
						<a href="http://field.10jqka.com.cn/20240723/c660046190.shtml" target="_blank">市场竞争激烈 车企上半年业绩分化</a></li>
						<li><img src="./images/zixun/4.png" alt="">
						<a href="http://field.10jqka.com.cn/20240723/c660045328.shtml" target="_blank">多地推进医疗设备更新 产业链公司或迎增量红利</a></li>
					</ul>
				</div>
			</div>

			 
			 
			 <!-- 要闻 -->
			 <div id="app">
				 <div class="hd news">
					 <h3>要闻</h3>
					 <ul>
						 <li @click="switchcate('hot')"><a href="#" data-target="hot">热门</a></li>
						 <li @click="switchcate('invest')"><a href="#" data-target="invest">投资机会</a></li>
						 <li @click="switchcate('finance')"><a href="#" data-target="finance">财经要闻</a></li>
						 <li @click="switchcate('industry')"><a href="#" data-target="industry">产经新闻</a></li>
						<li @click="switchcate('report')"><a href="#" data-target="report">研报精选</a></li>
					 </ul>
					 <a href="https://www.10jqka.com.cn/?spm=5176.28103460.0.0.297c3da2btcCKq###" class="more">查看全部</a>
				 </div>
				 
				 <div v-for="(news, index) in current" :key="index"  class="zixun" >
					 <a :href="news.news_link" target="_blank">
					   <h5>{{ news.news_heading }}</h5>
					   <p>{{ news.news_intro }}</p>
					 </a>
				 </div>
			 </div>
			 
			 
			<!-- 讨论区 -->
			<div id="app2">
				 <div class="hd discuss">
					 <h3>讨论区</h3>
					 <ul>
						 <li @click="switchcate('hot2')"><a href="#" data-target="hot2">热门</a></li>
						 <li @click="switchcate('famous')"><a href="#" data-target="famous">名家看市</a></li>
						 <li @click="switchcate('stock')"><a href="#" data-target="stock">板块个股</a></li>
					 </ul>
					 <a href="https://xueqiu.com/?spm=5176.28103460.0.0.297c3da2btcCKq" class="more">查看全部</a>
				 </div>
				 
				 <div v-for="(ds, index) in current" :key="index"  class="ds" >
					 <a :href="ds.discuss_link" target="_blank">
					   <h5>{{ ds.discuss_heading }}</h5>
					   <p>{{ ds.discuss_intro }}</p>
					 </a>
				 </div>
				 
			 </div>
		 </div>
		 
		 <div class="fr">
			 <div id="bang1" @click="navigate()">
				 <h3>涨幅排行榜</h3>
						 <div class="rk rk0">
							<span class="rank"></span> 
							<span class="name">股票名称</span>
							<span class="zhangfu">涨幅</span>
						 </div>
				<div v-for="(r, index) in rank" :key="index" class="rk">
					<span :class="getRankColor(index + 1)" class="rank">{{index + 1}}</span> 
					<span class="name">{{r.gpname}}</span>
					<span class="zhangfu">{{r.zhangfu}}</span>
				</div>
			 </div>
			 
			 
			 <div id="bang2" @click="navigate()">
						 <h3>龙虎榜</h3>
						 <div class="rk rk0">
							<span class="rank"></span> 
							<span class="name">股票名称</span>
							<span class="zhangfu">涨幅</span>
							<span class="volume">成交量</span>
						 </div>
						<div v-for="(r, index) in rank" :key="index" class="rk">
							<span class="rank">·</span> 
							<span class="name">{{r.gpname}}</span>
							<span class="zhangfu">{{r.zhangfu}}</span>
							<span class="volume">{{r.volume}}</span>
						</div>
			 </div>
		 </div> 
	 </div>


    <!-- 底部 -->
    <div class="bottom">
        <div class="wrapped">
            <div class="left">
                <img src="./images/logo.png" alt="">
                <p>“股海指南针”是一款集资讯、行情、数据于一体的股票投资助手。</p>
                <input type="button" value="下载APP">
            </div>
            <div class="right">
                <dl>
                    <dt>关于股海指南针</dt>
                    <dd>关于</dd>
                    <dd>工作机会</dd>
                    <dd>管理团队</dd>
                    <dd>客户服务</dd>
                    <dd>帮助</dd>
                </dl>
                <dl>
                    <dt>关于股海指南针</dt>
                    <dd>关于</dd>
                    <dd>工作机会</dd>
                    <dd>管理团队</dd>
                    <dd>客户服务</dd>
                    <dd>帮助</dd>
                </dl>
                <dl>
                    <dt>关于股和指南针</dt>
                    <dd>关于</dd>
                    <dd>工作机会</dd>
                    <dd>管理团队</dd>
                    <dd>客户服务</dd>
                    <dd>帮助</dd>
                </dl>
            </div>
        </div>
		
    </div>
	

	<script type="text/javascript">
		new Vue({
			el:'#app',
			data:{
				hotnew:[],
				financenew:[],
				industrynew:[],
				investnew:[],
				reportnew:[],
				newss:[],
				showcate:'hot',
				current:[]
			},
			created(){
				this.fetchNews();
				this.switchcate();
			},
			methods:{
				fetchNews(){//这个暂时不是实时的，到时候更新多一点数据再copy一下函数就可以了
					axios.get(`http://localhost:81/news?date=20240723&pagenow=1`)
					.then(response=>{
						this.newss=response.data;
						let newList=response.data;
						for(let i=0;i<newList.length;i++){
							let tmp=newList[i]
							if(tmp.news_session=="hot"){
								this.hotnew.push(tmp)
							}
							else if(tmp.news_session=="finance"){
								this.financenew.push(tmp)
							}
							else if(tmp.news_session=="industry"){
								this.industrynew.push(tmp)
							}
							else if(tmp.news_session=="invest"){
								this.investnew.push(tmp)
							}
							else if(tmp.news_session=="report"){
								this.reportnew.push(tmp)
							}
						}
						this.current=this.hotnew
					})
					.catch(error=>{
						console.error('Error fetching news:', error);
					});
				},
				switchcate(category){
					this.showcate=category;
					if(category=='hot'){this.current=this.hotnew;}
					else if(category=='finance'){this.current=this.financenew;}
					else if(category=='industry'){this.current=this.industrynew;}
					else if(category=='invest'){this.current=this.investnew;}
					else if(category=='report'){this.current=this.reportnew;}
				}
			}
		});
		
		new Vue({
			el:'#app2',
			data:{
				hot2:[],
				famous:[],
				stock:[],
				showcate:'hot2',
				current:[],
				date:'0'
			},
			created(){
				this.getCurrentDate();
				this.fetchNews();
				this.switchcate();
			},
			methods:{
				getCurrentDate() {
				  const currentDate = new Date(); // 获取当前日期
				  const formattedDate = this.formatDate(currentDate); 
				  this.date = formattedDate; 
				  console.log(this.date)
				},
				formatDate(date) {//格式化日期
				  const year = date.getFullYear(); 
				  const month = ('0' + (date.getMonth() + 1)).slice(-2); 
				  const day = ('0' + date.getDate()).slice(-2); 
				  return `${year}${month}${day}`; 
				},
				fetchNews(){
					axios.get(`http://localhost:81/discuss?date=${this.date}&pagenow=1`)//这个是实时的，可能会没有数据（需要更新数据）
					.then(response=>{
						let newList=response.data;
						for(let i=0;i<newList.length;i++){
							let tmp=newList[i]
							if(tmp.discuss_session=="hot2"){
								this.hot2.push(tmp)
							}
							else if(tmp.discuss_session=="famous"){
								this.famous.push(tmp)
							}
							else if(tmp.discuss_session=="stock"){
								this.stock.push(tmp)
							}
						}
						this.current=this.hot2
					})
					.catch(error=>{
						console.error('Error fetching news:', error);
					});
				},
				switchcate(category){
					this.showcate=category;
					if(category=='hot2'){this.current=this.hot2;}
					else if(category=='famous'){this.current=this.famous;}
					else if(category=='stock'){this.current=this.stock;}
				}
			}
		});
		
		new Vue({
			el:'#bang1',
			data:{
				rank:[]
			},
			created(){
				this.fetchrank();
				// this.switchcate();
			},
			methods:{

				fetchrank(){
					axios.get(`http://localhost:81/stockorder?date=20190314`)//这里随便找了一天的数据（因为没有最新数据）
					.then(response=>{
						console.log('Rank Data:', response.data);
						this.rank=response.data;
					})
					.catch(error=>{
						console.error('Error fetching rank1:', error);
					});
				},
				getRankColor(rank) {
					// 根据排名返回不同的类名
					if (rank === 1) {
						return 'rank1';
					} else if (rank === 2) {
						return 'rank2';
					} else if (rank === 3) {
						return 'rank3';
					} else {
						return 'default-color';
					}
				},
				navigate(){
					window.location="zixun.html"//放数据中心的链接
				}
			}
		});
		
		new Vue({
			el:'#bang2',
			data:{
				rank:[]
			},
			created(){
				this.fetchrank();
			},
			methods:{
				fetchrank(){
					axios.get(`http://localhost:81/longhu?date=20190320`)//这里随便找了一天的数据（没有最新数据）
					.then(response=>{
						// console.log('Rank Data:', response.data);
						this.rank=response.data;
						console.log("hey2",this.rank)
					})
					.catch(error=>{
						console.error('Error fetching rank1:', error);
					});
					
					axios.get(`http://localhost:81/longhu3?date=20190320`)//这里随便找了一天的数据
					.then(response=>{
						// console.log('Rank2 Data:', response.data);
						this.rank=this.rank.concat(response.data)
						console.log("hey",this.rank)
					})
					.catch(error=>{
						console.error('Error fetching rank1:', error);
					});
					
				},
				navigate(){
					window.location="rank.html"//放数据中心的链接
				}
			}
		});
		
		new Vue({
			el: "#navi",
			data: {
				username: '',
				header: '',
				loggedIn: false
			},
			methods: {
				navigateToLogin() {
					window.location.href = 'login.html'; // 修改为实际登录页面路径
				},
				navigateToRegister() {
					window.location.href = 'register.html'; // 修改为实际注册页面路径
				},
				navigateToPage(page) {
					if (this.loggedIn) {
						if (page === 'news') {
							window.location.href = 'zixun.html';
						} else if (page === 'market') {
							window.location.href = 'hang.html';
						} else if (page === 'data') {
							window.location.href = 'rank.html';
						} else if (page == 'user') {
							window.location.href = 'userinfo.html';
						} else {
							window.location.href = 'index.html';
						}
					} else {
						if (page === 'home') {
							window.location.href = 'index.html';
						} else {
							window.location.href = 'login.html';
						}
					}
				},
				handleCommand(command) {
					if (command === 'user') {
						window.location.href = 'userinfo.html'; // 修改为实际用户信息页面路径
					} else if (command === 'logout') {
						sessionStorage.removeItem('username');
						sessionStorage.removeItem('email');
						sessionStorage.removeItem('password');
						sessionStorage.removeItem('loggedIn');
						this.username = '';
						this.header = '';
						this.loggedIn = false;
						window.location.href = 'index.html';
					}
				}
			},
			created() {
				console.log('进入rank.html')
				this.username = sessionStorage.getItem('username');
				if (sessionStorage.getItem('header') == 'undefined') {
					this.header = './images/default.jpg'
				} else {
					this.header = "http://127.0.0.1:81/" + sessionStorage.getItem('header')
				}
				this.loggedIn = sessionStorage.getItem('loggedIn') === 'true';
		
				// 处理登录状态
				if (this.loggedIn) {
					console.log('已登陆登录状态')
					console.log(`用户 ${this.username} 已登录`);
					// 在此处添加登录成功后的逻辑
				} else {
					console.log('未登录状态')
				}
			}
		});
		
	</script>
</body>

</html>